server/music/__pycache__
server/music_library/__pycache__
music_app_deployment
ui_music/node_modules
ui_music/package-lock.json
server/certs-data
server/certs
server/sql_scripts/
# ignore log files
*.log

# ignore __pycache__ directories
__pycache__/

# ignore .env files
*.env

# ignore .pyc files
*.pyc

server/data/