server/music/__pycache__
server/music_library/__pycache__
music_app_deployment
ui_music/node_modules
ui_music/package-lock.json
server/certs-data
server/certs
server/sql_scripts/*.sql
!server/sql_scripts/drop_indexes.sql
!server/sql_scripts/create_indexes.sql
!server/sql_scripts/drop_duplicates.sql
!server/sql_scripts/usefull_queryes.sql
!server/sql_scripts/create_count_colum.sql


# ignore log files
*.log

server/etc/letsencrypt

server/backup/
backup/
server/staticfiles/

# ignore __pycache__ directories
__pycache__/

# ignore .env files
*.env

# ignore .pyc files
*.pyc

server/data/